<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="info.diegoramos.alergiass"
    android:versionCode="9"
    android:versionName="1.8"
     >

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="13" />
	<!-- PERMISSÕES DE ACESSO -->
  	<uses-permission android:name="android.permission.INTERNET"/>
  	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    
    <application
        android:icon="@drawable/bottle_of_pills"
        android:label="@string/app_name"
        android:allowBackup="true"
        android:debuggable="false"
        tools:ignore="HardcodedDebugMode">


        <activity
            android:name="alergias.activity.TelaInicial"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- TEMA -->
        <activity android:name="alergias.activity.CadastrarAlergia"></activity>
        <activity android:name="alergias.activity.ListarAlergia"></activity>
        <activity android:name="alergias.activity.DetalhesAlergia"></activity>
        <activity android:name="alergias.activity.CadastrarCategoria"></activity>
        <activity android:name="alergias.activity.ListarCategoria"></activity>
        <activity android:name="alergias.activity.DetalhesCategoria"></activity>
        <activity android:name="alergias.activity.EnviarSugestao"></activity>
		
		<!-- ADMOB -->
		<activity android:name="com.google.ads.AdActivity" android:configChanges="touchscreen|keyboard|keyboardHidden|uiMode|orientation|screenLayout|screenSize|smallestScreenSize" />
    	<!-- ADMOB -->
    
    	<!--  BACKUP -->
    	<meta-data android:name="com.google.android.backup.api_key" android:value="AEdPqrEAAAAIKbwQRtgmPDtHx7Qxu4VjrvN5MTew3cgPqP18jw" />
    </application>

</manifest>